.specials-font {
  font-family: 'Kelly Slab', cursive;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}

.specials-text {
  font-family: 'Kelly Slab', cursive;
  font-size: 30px;
  text-align: center;
  padding-bottom: 50px;
}