.Admin-Input, .AdminList {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 30px;
}

.Admin-Input {
  width: 650px;
  height: 450px;
  float: right;
  margin-right: 10%;
}

.AdminList {
  width: 450px;
  height: 450px;
  margin-left: 10%;
  float: left;
}

.textArea {
  resize: none;
  height: 250px;
  width: 630px;
}