.Admin-Input {
  height: 600px;
  margin-right: 10px;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 30px;
}

.textArea {
  resize: none;
  height: 250px;
  width: 500px;
  overflow-x: scroll;
  word-wrap: break-word;
}

.dealText {
  resize: none;
  height: 130px;
  width: 500px;
  overflow-x: scroll;
  word-wrap: break-word;
}

.preview {
  height: 500px;
  border: solid 2px black;
}

.previewHeader {
  height: 100px;
  text-align: center;
}

.previewBody {
  text-align: center;
}

.previewTitle {
  padding-top: 30px;
}