.cds-logo {
  display: block;
  margin: auto;
  padding-bottom: 10px;
  width: 500px;
}

.cds-font {
  font-size: 130px;
  font-family: 'Kelly Slab', cursive;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}